.NewOrderPage {
    height: 100%;
    display: grid;
    grid-template-columns: 3.5fr 2fr;
    grid-template-rows: 1fr;
    background-color: var(--white);
  }
  
  .NewOrderPage aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3vmin 2vmin;
  }

  #category-title {
      font-size: 1.8vw;
  }

  header {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid black;
  }