.OrderListItem {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: black;
    background-color: var(--white);
    border: .1vmin solid black;
    border-radius: 1vmin;
    font-size: 4vmin;
  }

  .OrderListItem:hover {
      cursor: pointer;
      border: 2px solid black;
  }
  
  
  .OrderListItem .right {
    text-align: right;
  }
  
  .OrderListItem .bottom {
    font-size: 1.7vw;
  }
  
  .OrderListItem .orderIdText {
    font-weight: 400;
    font-size: 1.9vw;
  }

  .OrderListItem .orderId {
    font-weight: 400;
    font-size: 2.4vw;
  }

  .OrderListItem .orderTotal {
    font-weight: 400;
    font-size: 1.9vw;
  }

  .OrderListItem .orderDate {
    font-weight: 400;
    font-size: 1.6vw;
    margin-top: 1.3vw;
  }

  .OrderListItem .totalQty {
    margin-top: 1vw;
    font-size: 1.4vw;
  }