.MenuListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: var(--black);
    background-color: var(--white);
    border: .1vmin solid var(--black);
    border-radius: 2px;
    font-size: 4vmin;
  }
  
  .MenuListItem .img {
    height: 50px;
  }
  
  .MenuListItem .buy {
    display: flex;
    flex-direction: column;
  }
  
  .MenuListItem .buy span {
    font-size: 1.7vw;
    text-align: center;
    color: var(--black);
  }
  
  .MenuListItem .name {
    font-size: 1.5vw;
    text-align: center;
    color: var(--black);
  }

  #buy-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.3vh;
    background-color: white;
    color: black;
    font-size: 2.4vw;
    border: none;
}

#buy-button:hover {
    border-right: 0.5vw solid rgb(3, 173, 3);
    border-left: 0.5vw solid rgb(3, 173, 3);
    border-radius: 0px;
}

#add-to-cart {
    font-size: 1.1vw;
    margin-top: 0.4vh;
}
