.user-welcome-container {
    height: 3vh;
}

#nav-username {
    font-weight: 900px;
}

.links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 5.5vw 0vh 5.5vw;
    text-decoration: none;
    font-size: 1.4vw;
}

#history-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2.2vw;
    font-weight: 700;
}

#logo-icon {
    font-size: 3vw;
    font-weight: 400;
}

.nav-orderhistory {
    font-size: 1.2vw;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-right: 3.5vw;
}

.nav-orderhistory:hover {
    font-weight: 700;
}

.logout {
    font-size: 1.2vw;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.logout:hover {
    font-weight: 700;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
}