#nav-username {
    font-weight: 900px;
}

.links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 5.5vw 0vh 5.5vw;
    text-decoration: none;
    font-size: 1.4vw;
}

.nav-orderhistory {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.nav-orderhistory:hover {
    font-weight: 700;
}

.logout {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.logout:hover {
    font-weight: 700;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
}