.MenuList {
    background-color: var(--white);
    /* border: .1vmin solid var(--black); */
    margin: 3vmin 0;
    padding: 3vmin;
    /* overflow-y: scroll; */
      /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  }